* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
}

.tab-btn {
  padding: 5px 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.tab-btn-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.active-btn {
  background-color: black;
  color: white;
}

.tab-body {
  padding: 10px 5px;
}
