* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-btn {
  width: 100%;
  outline: none;
  background-color: beige;
  border: 1px solid beige;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 12px 8px;
}
