* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
}

.tab-head {
  display: flex;
  gap: 10px;
}

.tab-button,
.active-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.tab-button:hover {
  background-color: beige;
}

.tab-content {
  display: none;
}

.active-tab {
  display: block;
}

.active-button {
  background-color: beige;
}
